{{define "nav"}}
<header class="sticky top-0 z-1 w-full pt-3 flex justify-center">
	<nav class="bg-slate-950 rounded-lg p-1 shadow-md">
		<ul class="flex gap-2 font-bold">
			<li
				class="h-9 bg-slate-50 text-black rounded-md flex items-center justify-center px-1 cursor-pointer">
				<a href="/">
					<h1 class="font-bold">vic.aware</h1>
				</a>
			</li>
			<li
				class="h-9 text-white rounded-md hover:bg-slate-50 hover:text-black px-1 flex items-center justify-center cursor-pointer">
				<a href="/writings" class="">writings</a>
			</li>
		</ul>
	</nav>
</header>
{{end}}
